admin_role_arns         = "arn:aws:iam::123456789012:role/ROLENAME1,arn:aws:iam::123456789012:role/ROLENAME2"
alb_controller_version  = "v2.5.3"
albc_helm_chart_version = "1.5.4"
allowed_ip_addresses    = "192.168.10.0/24,192.168.11.0/24"
api_gw_controller       = false
aws_region              = "us-east-1"
cert_manager            = false
cloudwatch_metrics      = false
desired_size            = 2
disk_size               = 30
efs_csi                 = false
enable_schedules        = true
instance_type = [
  "t3.small",
  "t3.medium"
]
karpenter_helm_chart_version = "0.16.3"
kms_key_arn                  = "arn:aws:kms:us-east-1:123456789012:key/e589fe53-4af7-b084-dad1-331b80f17860"
kube_prometheus_stack        = false
kubernetes_version           = "1.27"
max_size                     = 4
metrics_server               = false
min_size                     = 2
private_access               = false
project_name                 = "my-project"
public_access                = true
scale_down_recurrence        = "0 20 * * *"
scale_up_recurrence          = "0 8 * * *"
secrets_store_csi_driver     = false
start_time                   = "2023-03-05T00:00:00Z"
subnet_ids = [
  "subnet-0b4b721474fc3a76f",
  "subnet-00970d29b55ff36a8"
]
tags = {
  "Environment": "Development",
  "Owner": "Frankin Garcia"
}
tz     = "Etc/GMT-4"
velero = false
vpc_id = "vpc-12345678"
